html{
    background-image: url(fon2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
#hat {
    float: right;
    margin-right: 100px;
    background-color: rgb(255, 255, 255);
    width: 748px;
    height: 55px;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

#logo1 {
    width: 55px;
    height: 55px;
    margin-left: 5px;
}

.password {
    border-radius: 50px;
    width: 120px;
    border: 1px solid black;
    margin-right: 2px;
}

.submit_password {
    border-radius: 50px;
    background-color: #e3e3fd;
    margin-right: 2px;
    border: 3px solid rgb(17, 56, 31);
}


.submit_registration {
    border-radius: 50px;
    background-color: #e3e3fd;
    margin-right: 100px;
    border: 3px solid rgb(82, 22, 22);
}
.popup {
    position: fixed;
    width: 300px;
    height: 500px;
    margin-left: 25px;
    margin-top: 35px;
    background-color: rgba(240, 248, 255, 0.518);
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;    
}
.popup:target {
    opacity: 1;
    visibility: visible;
}

.main {
    float: right;
    margin-right: 100px;
    width: 748px;
    height: 490px;
    display: block;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.081);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#val_mean {
    float: left;
    margin-left: 10px;
    margin-top: 40px;
    width: 500px;
}

#inside {
    margin-left: 40px;
    margin-top: 10px;
    display: block;
}

#range {
    width: 60px;
    height: 20px;
    font-family: "Lucida Sans Unicode";
    border-radius: 10px;
}

.submit_num {
    display: flex;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.599);
    font-family: "Lucida Sans Unicode";
    margin-left: 500px;
    margin-top: 80px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 24px;
}



#outout1 {
    margin-left: 40px;
    display: block;
    border: 1px solid black;
    font-family: "Lucida Sans Unicode";
    border-radius: 10px;
    font-size: 20px;
    max-height: 100px;
    max-width: 650px;
    min-height: 30px;
    min-width: 30px;
}


#outout2 {
    margin-left: 40px;
    display: block;
    border: 1px solid black;
    font-family: "Lucida Sans Unicode";
    border-radius: 10px;
    font-size: 20px;
    max-height: 100px;
    max-width: 650px;
    min-height: 30px;
    min-width: 30px;
}

#outout3 {
    margin-left: 40px;
    display: block;
    background-color: #ffffff00;
    color: rgb(115, 51, 117);
    font-family: "Lucida Sans Unicode";
    font-size: 16px;
    border-radius: 0;
    max-height: 20px;
    max-width: 250px;
    min-height: 20px;
    min-width: 250px;
}
